<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766393315738-ievuaugmoqr0kf2frrom6jh9mqmn8foj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766393315738-ievuaugmoqr0kf2frrom6jh9mqmn8foj</string>
	<key>API_KEY</key>
	<string>AIzaSyA7p1LYXcbkrTYZ7qcPJVoNaQUxkhBSfcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>766393315738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-1bce1</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-1bce1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766393315738:ios:af08af6719f84514534a23</string>
</dict>
</plist>